.button
    padding 10px
    border 2px solid $color1
    box-sizing border-box
    text-decoration none
    text-align center
    display inline-block
    width auto
    transition background 0.5s ease
    min-width 40px
    &:hover
        background $color1
        color white
