footer
    text-align center
    margin 2.5vh auto 2.5vh auto
    a
        color $color1
    .arlefreak
        color #e3e3e3
        font-size 0.5em
        font-weight 300
    .social
        list-style none
        li
            list-style none
            display inline-block
